# exclude data and pickle directories
data
data/
pickle*/
# exclude build path
build/
# exclude output and plot directories
output/
plots/
# exclude logs
logs/
# exclude vic
vic/
# exclude papers
papers/
