[PLUMBER]
version = 1.4

[PATHS]
plumber = /Users/nijssen/Dropbox/data/PLUMBER/plumber_analysis
data = ${plumber}/data
output = ${plumber}/output/{id}

[SOURCES]
lsms = CABLE.2.0,CABLE_2.0_SLI.vxh599_r553,COLASSiB.2.0,ISBA_SURFEX_3l.SURFEX7.3,ISBA_SURFEX_dif.SURFEX7.3,JULES.3.1,JULES3.1_altP,Mosaic.1,NOAH.2.7.1,NOAH.3.3,Noah.3.2,ORCHIDEE.trunk_r1401
pbms = Manabe_Bucket.2,Penman_Monteith.1
sbms = 1lin,2lin,3km27

[STATSMODELS]
sbms = 1lin,2lin,3km27

[TSHIFTS]
# time shifts in minutes
CHTESSEL = 30
COLASSiB.2.0 = -30
ORCHIDEE.trunk_r1401 = -15

[SITES]
sites = Amplero,Blodgett,Bugac,ElSaler,ElSaler2,Espirra,FortPeck,Harvard,Hesse,Howard,Howlandm,Hyytiala,Kruger,Loobos,Merbleue,Mopane,Palang,Sylvania,Tumba,UniMich

[FILETEMPLATES]
lsms_file_template = ${PATHS:data}/model_output/{model}/{model}_{site}Fluxnet.${PLUMBER:version}.nc
pbms_file_template = ${lsms_file_template}
sbms_file_template = ${PATHS:data}/benchmark_data/{model}/{model}_{site}Fluxnet.${PLUMBER:version}.nc
flux_file_template = ${PATHS:data}/site_data/flux/{site}Fluxnet.${PLUMBER:version}_flux.nc
met_file_template = ${PATHS:data}/site_data/met/{site}Fluxnet.${PLUMBER:version}_met.nc

[OBSERVATIONS]
observations = flux,met

[ANALYSIS]

[PLOTTING]

[LOGGING]
logfile = ${PATHS:plumber}/logs/plumber.log
loglevel = debug
